$size__site-main: 100%;
$size__site-sidebar: 25%;

%images--classic {
	position: relative;
    padding-bottom: percentage(2 / 3);
    height: 0;

    img {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

%images--wide {
	position: relative;
    padding-bottom: percentage(9 / 16);
    height: 0;

    img {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

%images--square {
	position: relative;
    padding-bottom: percentage(1 / 1);
    height: 0;

    img {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

%images--normal {
    position: relative;

    img {
        display: block;
        width: 100%;
        height: auto;
    }
}
