.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.featured-post {
	&__card {
		overflow: hidden;
	}

    &__content {
    	position: relative;
        background-color: $color__background-content;
        padding-top: 32px;
        padding-right: 35px;
        padding-bottom: 60px;
        padding-left: 35px;
        font-size: 18px;

        p {
            &:last-of-type {
                margin-bottom: 0;
            }
        }

        &::before {
            position: absolute;
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-top: 33px solid transparent;
            border-bottom: 0px solid transparent;
            border-right: 700px solid $color__background-content;
            top: -33px;
            right: 0;

            @include grid-media($tablet) {
                border-right: 1000px solid $color__background-content;
            }

            @include grid-media($tablet-landscape) {
                border-right: 500px solid $color__background-content;
            }
        }
    }

    &__footer {
        background-color: $color__background-nav;
        text-align: center;
        font-size: 16px;
        padding-top: 19px;
        padding-right: 16px;
        padding-bottom: 22px;
        padding-left: 16px;
    }

    &__dagger {
        font-family: $font__header;
        font-size: 20px;
    }

    &__image {
    	@extend %images--normal;
    }
}
